<%= render PodcastDescriptionComponent.with_collection @podcasts %>

<div class="my-4 clear-both">
  <%= link_to "New Podcast", new_podcast_url, class: "p-4 rounded-md bg-amber-600 text-gray-300" if policy(:podcast).create? %>
  <%= link_to "New Profile", new_profile_url, class: "p-4 rounded-md bg-amber-600 text-gray-300" if policy(:profile).create? %>
</div>
