<article class="shadow-lg p-6">
  <%= render PodcastHeaderComponent.new podcast, policy: policy %>

  <% if latest %>
  <section>
    <h3 class="text-2xl mb-2">latest episode: <%= tag.span latest.name, class: "text-red-700" %></h3>
    <%= latest.description %>

    <div class="my-4">
      <%= link_to "Listen now", podcast_episode_path(podcast, latest.slug),
        class: "p-3 bg-red-700 shadow text-gray-200 rounded-md" %>
    </div>
  </section>
  <% end %>
</article>
