<h1><%= @podcast.name %></h1>
<%= link_to "feed", podcast_episodes_url(@podcast, format: :rss) %>

<ul id="episodes">
  <% @episodes.each do |ep| %>
    <li><%= link_to ep.name, podcast_episode_path(@podcast, ep) %></li>
  <% end %>
</ul>
