@layer reset, base, components, utility;

@import "./fonts.css";
@import "./reset.css";

:root {
  --header-color: #9c0000;
  --header-fonts: Packard Antique, Georgia, Cambria, Times, serif;
  --sand: #dec897;
  --menu-gradient: linear-gradient(var(--sand), #806529);
  --darksand: #c9b382;
  --spacing: 1rem;
}

@layer base {
  h1, h2, h3 {
    font-family: var(--header-fonts);
    color: var(--header-color);

    a { text-decoration: none; }
  }

  body {
    max-width: 90rem;
    margin-inline: auto;
  }
}

@layer components {
  html {
    background: url('../images/papyrus_map.png') no-repeat fixed center top black;
  }

  body > header {
    background: url('../images/ds_logo_crop.png') no-repeat right bottom;
    min-height: 100px;

    /* position the masthead next to the page */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--header-color);

    h1 {
      font-size: 4rem;
      text-shadow: 0.1rem 0.1rem .1em #000;
    }
  }
}

@layer components {
  #sitenav {
    background: var(--menu-gradient);
    padding: 0.5rem 1rem;

    display: flex;
    flex-direction: row;
    gap: var(--spacing);
    a { text-decoration: none; font-weight: 600; }
  }
}

body {
  color: #000;
  font-family: sans-serif;

  display: grid;
  grid-template-rows: fit-content(3rem) fit-content(2rem) 1fr fit-content(2rem);
}

body > main {
  background-color: #fff;
  padding-top: 1rem;

  > article { padding-inline: 1rem; }
}

.podcast {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

.podcast img { max-width: 28rem; }

@layer components {
  article.podcast {
    box-shadow: 0 0.5rem 1rem -3px #0000001a;

    margin-bottom: 2rem;
  }
}

@layer utility {
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .g-1 { gap: var(--spacing); }
}
