<div class="flex mt-4 divide-x justify-end">
  <%= edit_link do %>
    <%= icon "pencil-fill" %> Edit Description
  <% end %>

  <%= new_link do %>
    <%= icon "mic-fill" %> New Episode
  <% end %>
</div>
