.env*.local
log/*
public/*
!public/404.html
!public/500.html
node_modules/
db/*.sqlite
db/*.sqlite-wal
db/*.sqlite-shm
db/spaces
spec/examples.txt

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local
tmp/
