<article class="p-6 shadow-lg">
  <%= render PodcastHeaderComponent.new @podcast, policy: policy(@podcast) %>

  <section id="hosts" class="flex gap-4">
    <strong>Hosted by: </strong>
    <ul class="flex flex-wrap gap-3">
      <% @podcast.hosts.each do |host| %>
        <li><%= host.display_name %></li>
      <% end %>
    </ul>
  </section>
</article>


<section id="episodes" class="p-4">
  <% @episodes.each do |episode| %>
    <%= turbo_frame_tag episode do %>
      <%= render "episodes/summary", episode: episode, podcast: @podcast %>
    <% end %>
  <% end %>
</section>
