<article class="bg-slate-200 p-6 shadow-lg">
  <%= render PodcastHeaderComponent.new podcast: @podcast %>

  <section id="hosts">
    <ul>
      <% @podcast.hosts.each do |host| %>
        <li><%= host.display_name %></li>
      <% end %>
    </ul>
  </section>
</article>


<section id="episodes">
  <% @podcast.episodes.each do |episode| %>
    <%= render "episodes/summary", episode: episode, podcast: @podcast %>
  <% end %>

  <footer>
    <%= link_to "New Episode", new_podcast_episode_path(@podcast) %>
  </footer>
</section>
